<!-- 草稿箱管理 -->
<div class="content" style="display: none;">
    <div class="pubboxw">
        <div class="manage-search">
            <div class="col-md-8">
                <form>
                    <div class="myselectType">
                        <ul id="main_box">
                            <li class="select_box"> <span>全部</span>
                                <ul class="son_ul">
                                    <li>标题</li>
                                    <li>关键字</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <input placeholder="搜索从这里开始..." type="text">
                    <button type="submit"></button>
                </form>
            </div>
            <div class="col-md-4 mt20">
                <div class='checkbox'>
                    <input type='checkbox' id='checkbox1' name='checkboox[]'>
                    <label for='checkbox1'>精选</label>
                </div>

            </div>
        </div>
        <ul class="manage-list1">
            <li class="col-md-4">
                <div class="excerpt-minic">
                    <div class="manage-list-box1"> <img src="/images/546546546456.jpg" class="img-responsive" alt="实例剖析尼尔森十大交互设计原则在设计中的用法" title="实例剖析尼尔森十大交互设计原则在设计中的用法">
                        <h3><a href="#">实例剖析尼尔森十大交互设计原则在设计中的用法</a></h3>
                        <p>前言：Jakob Nielsen（雅各布·尼尔森）的十大交互设计原则。</p>
                    </div>
                    <div class="cat"> <span><a href="#">2018-1-1</a></span><span class="fr"><i class="glyphicon glyphicon-pencil"></i><a onclick="pubboxshow()">编辑</a></span> <span class="fr"><i class="glyphicon glyphicon-trash"></i><a href="#">删除</a></span> </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="excerpt-minic">
                    <div class="manage-list-box1"> <img src="/images/546546546456.jpg" class="img-responsive" alt="实例剖析尼尔森十大交互设计原则在设计中的用法" title="实例剖析尼尔森十大交互设计原则在设计中的用法">
                        <h3><a href="#">实例剖析尼尔森十大交互设计原则在设计中的用法</a></h3>
                        <p>前言：Jakob Nielsen（雅各布·尼尔森）的十大交互设计原则。</p>
                    </div>
                    <div class="cat"> <span><a href="#">2018-1-1</a></span><span class="fr"><i class="glyphicon glyphicon-pencil"></i><a href="#">编辑</a></span> <span class="fr"><i class="glyphicon glyphicon-trash"></i><a href="#">删除</a></span> </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="excerpt-minic">
                    <div class="manage-list-box1"> <img src="/images/546546546456.jpg" class="img-responsive" alt="实例剖析尼尔森十大交互设计原则在设计中的用法" title="实例剖析尼尔森十大交互设计原则在设计中的用法">
                        <h3><a href="#">实例剖析尼尔森十大交互设计原则在设计中的用法</a></h3>
                        <p>前言：Jakob Nielsen（雅各布·尼尔森）的十大交互设计原则。</p>
                    </div>
                    <div class="cat"> <span><a href="#">2018-1-1</a></span><span class="fr"><i class="glyphicon glyphicon-pencil"></i><a href="#">编辑</a></span> <span class="fr"><i class="glyphicon glyphicon-trash"></i><a href="#">删除</a></span> </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="excerpt-minic">
                    <div class="manage-list-box1"> <img src="/images/546546546456.jpg" class="img-responsive" alt="实例剖析尼尔森十大交互设计原则在设计中的用法" title="实例剖析尼尔森十大交互设计原则在设计中的用法">
                        <h3><a href="#">实例剖析尼尔森十大交互设计原则在设计中的用法</a></h3>
                        <p>前言：Jakob Nielsen（雅各布·尼尔森）的十大交互设计原则。</p>
                    </div>
                    <div class="cat"> <span><a href="#">2018-1-1</a></span><span class="fr"><i class="glyphicon glyphicon-pencil"></i><a href="#">编辑</a></span> <span class="fr"><i class="glyphicon glyphicon-trash"></i><a href="#">删除</a></span> </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="excerpt-minic">
                    <div class="manage-list-box1"> <img src="/images/546546546456.jpg" class="img-responsive" alt="实例剖析尼尔森十大交互设计原则在设计中的用法" title="实例剖析尼尔森十大交互设计原则在设计中的用法">
                        <h3><a href="#">实例剖析尼尔森十大交互设计原则在设计中的用法</a></h3>
                        <p>前言：Jakob Nielsen（雅各布·尼尔森）的十大交互设计原则。</p>
                    </div>
                    <div class="cat"> <span><a href="#">2018-1-1</a></span><span class="fr"><i class="glyphicon glyphicon-pencil"></i><a href="#">编辑</a></span> <span class="fr"><i class="glyphicon glyphicon-trash"></i><a href="#">删除</a></span> </div>
                </div>
            </li>
        </ul>
        <ul class="pagination my-pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="disabled"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    <div class="pubbox">
        <div class="row">
            <div class="col-md-3">
                <form id="uploadForm" >
                    <div class="form-group">
                        <div class="h4"><span class="glyphicon glyphicon-user"></span>王妞妞</div>
                        <div class="fileinput fileinput-new">
                            <div class="fileinput-new thumbnail" id="preview"> </div>
                            <div> <span class="btn btn-primary btn-file my-file"> <span class="fileinput-new">选择文件</span>
                      <input type="file" onchange="preview(this)"/>
                      </span> </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-9 my-form">
                <form>
                    <div class="form-group">
                        <label for="exampleInputPassword1">标题</label>
                        <input class="form-control" placeholder="请输入标题" type="text">
                        <p class="tit-Prompt">请输入标题</p>
                    </div>
                    <div class="mb20">
                        <div class="col-md-6">
                            <label for="exampleInputPassword1">类型</label>
                            <select class="form-control">
                                <option>请选择类型</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <p class="tit-Prompt">请选择类型</p>
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputPassword1">原作者</label>
                            <input class="form-control " placeholder="请输入原作者" type="text">
                            <p class="tit-Prompt">请输入原作者</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">精华文章</label>
                        <div class="col-md-6">
                            <div class="radio-inline">
                                <input class="magic-radio" type="radio" name="radio" id="r1" value="option1">
                                <label for="r1">是</label>
                            </div>
                            <div class="radio-inline">
                                <input class="magic-radio" type="radio" name="radio" id="r2" value="option2" checked>
                                <label for="r2">否</label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="row my-content">
            <div class="form-group">
                <label><b>文章正文</b> 在这里填写详细的文章内容分享给大家</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
        <div class="my-button">
            <button type="button" class="btn btn-warning " > 立即保存 </button>
            <button type="button" class="btn btn-danger  " > 重新发布 </button>
        </div>
    </div>
</div>